* {
    margin: 0;
    padding: 0;  

}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,300&display=swap');

.carousel-item {
    height: 650px;
    object-fit: cover;
    
}

body {
    color: #00b4d8;
    text-align: center;
    background-image: linear-gradient(#000000 ,#134d13)
}

.nav-link {
    color: #00b4d8;
    
}


.gridPadre {
    text-align: center;
}








